<li<%= is_active?('home') -%>><%= link_to "Home", root_path %></li>
<li<%= is_active?('listing') -%>><%= link_to "Listings & Recent Activity", pages_listing_path %></li>
<li<%= is_active?('bpo') -%>><%= link_to "BPO, REO, Short Sales", pages_bpo_path %></li>
<li<%= is_active?('talk') -%>><%= link_to "Let's Talk", talk_path %></li>
<li<%= is_active?('about') -%>><%= link_to "About Beth and FGR", pages_about_path %></li>
