<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'home_carousel/tin_caps.jpg' %>
      <div class="carousel-caption">
        <h4>These Can Have Captions</h4>
        <p>If we want captions, let's re-format the photos a bit to have more room at the bottom.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'home_carousel/convention_center.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'home_carousel/boulevard.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'home_carousel/columbia_street.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'home_carousel/neighborhood.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'home_carousel/tin_caps_night_game.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'home_carousel/vintage_neighborhood.jpg' %>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
<div class="row">
  <div class="span6">
    <h1>Welcome home.</h1>
    <p>You've found a comfortable spot. We are one of Fort Wayne's most established, independently owned and operated real estate companies; and unlike many Realtors, we recognize that buying and/or selling property is often a major transition in life. <strong>For buyers</strong>, we specialize in connecting homeowners with properties that fulfill their wants and needs; <strong>for sellers</strong>, we provide proven strategies, tools and techniques that offer the greatest reward.</p>
  </div>
  <div class="span3">
    <div class="well">
      <h4>Our Approach</h4>
      <p>Our approach is based on an honest, sensitive, practical philosophy that echoes one simple truth: everyone deserves a safe, comfortable, enjoyable home. Let's talk - we're ready whenever you are.</p>
    </div>
  </div>
</div>
