<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span3">
        <ul>
          <%= render 'layouts/shared/nav_links' %>
        </ul>
      </div>
      <div class="span2 offset3">
        <%= link_to image_tag('FGR-logo_128x73.png'), root_path %>
      </div>
      <div class="span3">
        <p>725 fulton street<br>
        fort wayne, in 46802<br>
        t:  260.745.5406<br>
        f:  260.755.3099<br>
        e:  <%= mail_to 'info@fairfieldgrouprealtors.com' %></p>
      </div>
    </div>
    <div class="row icons">
      <div class="span2">
        <%= image_tag 'profession_icons/small/realtor_logo.png' %>
      </div>
      <div class="span2">
        <%= image_tag 'profession_icons/small/UPSTAR_Logo_woTagLine.jpg' %>
      </div>
      <div class="span2">
        <%= image_tag 'profession_icons/small/EHO.png' %>
      </div>
      <div class="span2">
        <%= image_tag 'profession_icons/small/Five_Star_REO_LOGO_2010.jpg' %>
      </div>
      <div class="span2">
        <%= image_tag 'profession_icons/small/RESNET_REO_Certified_Agent_Logo.jpg' %>
      </div>
      <div class="span2">
        <%= image_tag 'profession_icons/small/RESNET_Short_Sale_Certified_Logo.jpg' %>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p class='copyright'>©2013 Fairfield Group Realty, Inc. All rights reserved.</p>
  </div>
</div>
