<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span3">
        <ul>
          <%= render 'layouts/shared/nav_links' %>
        </ul>
      </div>
      <div class="span5">
        <%= link_to image_tag('FGR-2ColorLOGO.png'), root_path %>
        <%= image_tag 'profession_icons/small/UPSTAR_Logo_woTagLine.jpg' %>
        <%= image_tag 'profession_icons/small/EHO.png' %>
        <%= image_tag 'profession_icons/small/Five_Star_REO_LOGO_2010.jpg' %>
        <%= image_tag 'profession_icons/small/EQUATOR_AgentCert_platinum.jpg' %> <br>
        <%= image_tag 'profession_icons/small/RESNET_REO_Certified_Agent_Logo.jpg' %>
        <%= image_tag 'profession_icons/small/RESNET_Short_Sale_Certified_Logo.jpg' %>
      </div>
      <div class="span4">
        <p>725 fulton street<br>
        fort wayne, in 46802<br>
        t:  260.745.5406<br>
        f:  260.755.3099<br>
        e:  <%= mail_to 'info@fairfieldgrouprealtors.com' %></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>©2013 Fairfield Group Realty, Inc. All rights reserved.</p>
  </div>
</div>
