<div class="row">
  <div class="span4">
    <%= link_to image_tag('FGR-2ColorLOGO.png'), root_path, :class => 'brand' %>
  </div>
  <div class="span8">
    <div class="span3 pull-right quote">
      <p>Tell me something fancy about this company that I just don't already know.</p>
    </div>

    <ul class="nav pull-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Listings & Recent Activity", pages_listing_path %></li>
      <li><%= link_to "BPO, REO, Short Sales", pages_bpo_path %></li>
      <li><%= link_to "Let's Talk", pages_talk_path %></li>
      <li><%= link_to "About Beth and FGR", pages_about_path %></li>
    </ul>

  </div>

</div>
