<%= image_tag 'beth_in_frame.png', :class => 'framed_photo' %>

<h3>Beth Walker</h3>
<p>Broker/Owner</p>

<p class='quote'>"Client testimonial goes here in nice big, easy to ready type with exaggerated quotation marks - please make them very circular to coordinate with the logo."  — Firstname(s)</p>

<h4>Our commitment to COMMUNITY ENRICHMENT:</h4>
<p>We proudly donate a portion of our annual proceeds to these organizations that promote healthy housing and historic preservation. For more information, please call us. We believe this community is a great place to call home for all!</p>

<div class="icon">
  <%= image_tag 'community_icons/small/arch.png' %>
  <%= image_tag 'community_icons/small/BBB-logo.png' %>
  <%= image_tag 'community_icons/small/CitySeal.png' %>
  <%= image_tag 'community_icons/small/DID.png' %>
  <%= image_tag 'community_icons/small/WCNA.png' %> <br>
  <%= image_tag 'community_icons/small/VisitFW.png' %>
</div>
